.cart-contianer{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    border: solid lightgray 1px;
    margin: 10px 0;
}
.order-summry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.order-summry button {
    background: transparent;
    color: #000;
    border: 1px solid #000 !important;
    border: none;
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cart-container img {
    margin-right: 10px;
}
.cart-contianer h3, p {
    margin: 0 !important;
    padding: 0 !important;
}

.cart-contianer h3 {
    font-size: 20px;
    margin-bottom: 2px !important;
}